
@{
    ViewBag.Title = "Lesson 1";
}

<article>
    <h2>Lesson 1</h2>
    <details>
        <summary>How does the web work?</summary>
        <p>
            Every web page that you view was sent to your browser from a web server. That web server could be located anywhere in the world.
            So how does your computer find the web server?
        </p>
        <img src="~/Images/468px-Client-server-model.svg.png" />
        <p>
            Each computer connected to the internet is identified by an address called an IP Address.
            When you type in an address like http://www.google.com, your computer first connects to your Internet service provider (<abbr>ISP</abbr>) (e.g, Comcast, Century Link, etc)
            who in turn talks to a Domain Name System (<abbr>DNS</abbr>). The purpose of a DNS is to find the IP Address for the web site you are trying to visit.
        </p>
        <p>
            You could, if you so desired, go to a website by directly entering its IP Address.
            For example, where does this IP Address go to: <a href="http://171.20.34.151" target="_blank">http://171.20.34.151</a>?
        </p>
    </details>

    <details>
        <summary>Websites are written in HTML</summary>
        <p>
            <dfn>HTML</dfn> stands for HyperText Markup Language. It is the language of the web. Can you think of why the name has HyperText in it? (<a href="http://en.wikipedia.org/wiki/Hyperlink">hint</a>)
        </p>
        <p>
            HTML is a markup language, because you must "mark up" everything on the page, that is, you must add some special marks in your document to tell the brower how it should be displayed.
            For example, you "mark up" a paragraph like so:

            <pre><code class="brush: html;">@(@"
            <p>This is a paragraph</p>
            ")</code></pre>
        </p>
        <p>
            The &lt;p&gt; is the opening <dfn>tag</dfn> and the &lt;/p&gt; is the closing tag (notice the slash). The two tags together with the text between them is called an <dfn>element</dfn>.
        </p>
    </details>

    <details>
        <summary>How to view the HTML of Existing Sites</summary>
        <p>
            You can view the HTML of any website by first browsing to it, e.g. the website you're on right now, and then pressing Ctrl + u (Ctrl and u at the same time).
            This shows the HTML exactly as it was sent by the web server.
        </p>
        <p>
            Another way to view the HTML is to right click and choose "Inspect Element", this opens up the developer tools. Here you can not only view the HTML
            but you can modify it as well! Try it out! There is no need to worry about messing up the page. You are only editing a copy of the web page that exists
            on your computer. If you want to see the original web page again, just refresh the page and it will look good as new.
        </p>
    </details>

    <details>
        <summary>Let's begin</summary>
        <p>The <em>starting</em> HTML of every web page:</p>

        <pre><code class="brush: html;">@(@"
        <!DOCTYPE html>
        <html>
        <head>
            <meta charset=""utf-8"" />
            <title>Your title here</title>
        </head>
        <body>
            <!-- Put content here -->
        </body>
        </html>
        ")</code></pre>

        <p>

        </p>
    </details>

    <details>
        <summary>Text</summary>
        <ol>
            <li>headings</li>
            <li>paragraphs</li>
            <li>b, i</li>
            <li>sup, sub</li>
            <li>br, hr</li>
            <li>strong, em</li>
            <li>blockquote, q</li>
            <li>abbr, cite, dfn</li>
            <li>address</li>
            <li>ins, del, s</li>
        </ol>
    </details>

    <details>
        <summary>Lists</summary>
        <ol>
            <li>ol</li>
            <li>ul</li>
            <li>dl</li>
        </ol>
    </details>

    <details>
        <summary>Links</summary>
        <ol>
            <li>attributes</li>
            <li>link to other site</li>
            <li>link to same site</li>
            <li>link to specific part of page</li>
            <li>link to specific part of another site or page</li>
            <li>email</li>
            <li>open in new window</li>
        </ol>
    </details>

    <details>
        <summary>Images</summary>
        <ol>
            <li>src, alt, title, width, height</li>
            <li>png, jpg, gif</li>
            <li>figure, figcaption</li>
        </ol>
    </details>

    <details>
        <summary>Tables</summary>
        <ol>
            <li>table</li>
            <li>tr, td, th</li>
            <li>spanning cols or rows</li>
            <li>thead, tbody, tfoot</li>
        </ol>
    </details>
</article>


@section scripts {
<script>
    $(function () {
        //$("article > section").hide().click(function () {
        //    $(this).show();
        //});

        //$("article").accordion();
    });
</script>
<script>
    SyntaxHighlighter.config.tagName = "code";
    SyntaxHighlighter.defaults["toolbar"] = false;
    SyntaxHighlighter.all();
</script>
}