
@{
    ViewBag.Title = "Lesson 3";
}

<article>
    <h2>Lesson 3</h2>
    <p>
        It's time to get started on our class project. We are going to build a website for a fictional bookstore.
        Well start with the home page. Here is a mock-up, designed in photoshop, of what it should look like.
        Keep in mind that this is only a picture. We actually need to build it now.
    </p>

    <img id="homePageMockup" src="~/Images/ficticiousBookstoreMockUp.jpg" alt="Ficticious Bookstore mockup" width="958" />
</article>
