body {
    margin: 0;
    padding: 0;
    background: url(/Images/brownStripe.png) repeat top left;
}

header {
    text-align: center;
}

header h1 {
    font: 750%/1 Impact, Helvetica, sans-serif;
    margin: 0;
    color: #5c2d27;
    text-shadow: 0 1px 0 rgba(255,255,255,.5), 0 -1px 0 rgba(0,0,0,.8);
}

header h2 {
    margin: 5px 0 0 0;
    /*text-shadow: 0 1px 0 #4C7C7B;*/
}

ul {
    list-style-type: none;
    padding: 0;
}

header {
    background: url(/Images/lightStripe.png) repeat top left;
    padding: 40px 0;
    border-bottom: 5px solid #e2842c;
}

#main {
    background-image: none;
    background-color: white;
}

footer {
    color: white;
}

.content {
    padding: 20px;
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

#slider {
    padding: 20px 0;
    overflow: hidden;
}

/* Styles for Index */
#lessonList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    height: 260px;
    float: left;
    width: 718px;
}

#lessonList li {
    position: absolute;
    top: 0;
    width: 204px;
    height: 238px;
    border: solid 1px #e6e6e6;
    padding: 10px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    background: #fefefe;
    background: -moz-linear-gradient(top,  #fefefe 1%, #f3f3f3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fefefe), color-stop(100%,#f3f3f3));
    background: -webkit-linear-gradient(top,  #fefefe 1%,#f3f3f3 100%);
    background: -o-linear-gradient(top,  #fefefe 1%,#f3f3f3 100%);
    background: -ms-linear-gradient(top,  #fefefe 1%,#f3f3f3 100%);
    background: linear-gradient(to bottom,  #fefefe 1%,#f3f3f3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f3f3f3',GradientType=0 );
}

#lessonList h1 {
    font-weight: normal;
    margin-top: 0;
}

#lessonList h1 a {
    text-decoration: none;
}

#lessonList h2 {
    font-weight: normal;
}

.control {
    text-align: center;
    padding: 0;
    margin-top: 80px;
    cursor: pointer;
    float: left;
    -moz-opacity: 0.00;
    opacity: 0.00;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#controlRight {
    margin-left: 35px;
    margin-right: 51px;
}

#controlLeft {
    margin-left: 51px;
    margin-right: 35px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}